[defaults]
host_key_checking = False
inventory = hosts.yml
retry_files_enabled = False
gathering = smart
# Silences the discovered interpreter warning
interpreter_python = auto_silent
deprecation_warnings=False

# This is critical - tell Ansible where roles are
roles_path = ./roles:/home/qxt/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

stdout_callback = yaml
callback_whitelist = profile_tasks

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r