# Database Resource for Dovecot 2.4.3
sql_driver = mysql

mysql {{ db_host }} {
  dbname = {{ db_name }}
  user = {{ db_user }}
  password = {{ db_password }}
  port = {{ db_port | default(3306) }}
}

passdb sql {
  default_password_scheme = BLF-CRYPT
  query = SELECT username AS user, password FROM mailbox WHERE username = '%{user}' AND active = '1'
}

userdb sql {
  # Use CONCAT() for MySQL string concatenation
  query = SELECT CONCAT('/var/vmail/', domain, '/', local_part) AS home, {{ vmail_uid }} AS uid, {{ vmail_gid }} AS gid FROM mailbox WHERE username = '%{user}' AND active = '1'
  iterate_query = SELECT username FROM mailbox WHERE active = '1'
}