# MySQL virtual domains map
# Queries the postfix_domains view (active domains only)
user     = {{ db_user }}
password = {{ db_password }}
hosts    = {{ db_host }}
dbname   = {{ db_name }}
query    = SELECT domain FROM postfix_domains WHERE domain='%s'
